process {
    withName:trimSequences {
        container = 'nanozoo/fastp'
   }
    withName:bwaIndex {
   container = 'dailyk/dockstore-tool-bwa-mem'
   }
    withName:bwaMap {
   container = 'dailyk/dockstore-tool-bwa-mem'
   }
    withName:samSort {
   container = 'staphb/samtools'
   }
    withName:dupRemoval {
   container = 'staphb/samtools'
   }
}
docker {
    enabled = true
}
