process {
    withName:trimSequences {
        container = 'nanozoo/fastp'
   }
   withName:fastaIndex {
        container = 'staphb/samtools'
   }
    withName:gatkIndex {
        container = 'broadinstitute/picard'
   }
    withName:bwaIndex {
   container = 'dailyk/dockstore-tool-bwa-mem'
   }
    withName:bwaMap {
   container = 'dailyk/dockstore-tool-bwa-mem'
   }
    withName:samtoolsSort {
   container = 'staphb/samtools'
   }
   withName:addRG {
   container = 'broadinstitute/picard'
   }
    withName:dupRemoval {
   container = 'broadinstitute/picard'
   }
   withName:samtoolsIndex {
   container = 'staphb/samtools'
   }
    withName:realignIndel {
   container = 'broadinstitute/gatk3:3.8-1'
   }
   withName:samtoolsRealignedIndex {
   container = 'staphb/samtools'
   }
    withName:snpCalling {
   container = 'staphb/bcftools'
   }
}
docker {
    enabled = true
}
